# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist
certs

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files (copy .env.example to .env.local for development)
.env
.env.local
.env.*.local
!.env.example

# nix
result

#models
public/models
models

#direnv
.direnv
.envrc*

/secrets

**/*.cred.*
!**/*.cred.enc.*

data/public
data/blp
data/png/Icons
data/dbcJsons

data/BLPConverter
